<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/web/css/main.css" />
  </head>
  <body class="sign-in-page">
    {{template "t_navbar.html" .}} {{template "t_logo.html" .}}

    <main class="card">
      <h1>Sign In</h1>
      <p>Use your username and password to access your account.</p>

      <form action="/signIn" method="post">
        <label>
          Username{{with .FieldErrors.username}}
          <label class="error-text">{{.}}</label>
          {{end}}
          <input
            type="text"
            name="username"
            placeholder="Enter your username"
            class="{{if .FieldErrors.username}}error{{end}}"
          />
        </label>

        <label>
          Password{{with .FieldErrors.password}}
          <label class="error-text">{{.}}</label>
          {{end}}
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            class="{{if .FieldErrors.password}}error{{end}}"
          />
        </label>

        <button type="submit">Sign In</button>
      </form>

      <p class="helper">
        Do not have an account?
        <a href="/create-account">Create a new account</a>
      </p>
    </main>
    {{template "t_footer.html" .}}
  </body>
</html>
