<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Error | Saturn</title>
    <link rel="stylesheet" href="/web/css/main.css" />
  </head>
  <body class="sign-in-page">
    {{template "t_navbar.html" .}} {{template "t_logo.html" .}}

    <main class="card">
      <h1>Wrong Username or Password</h1>
      <p>Please check username and password.</p>

      <form action="/signIn" method="get">
        <button type="submit">Go To Sign In</button>
      </form>

      <form action="/create-account" method="get">
        <button type="submit">Create New Account</button>
      </form>
    </main>
    {{template "t_footer.html" .}}
  </body>
</html>
